.errorFont {
    color: #F44336;
}

#svg_map polygon:hover {
    fill: #7b776b;
    cursor: pointer;
}

#place_datatable {
    width: 100%;
    overflow: auto;
    text-align: left;
}
#place_datatable table {
    border-collapse: collapse;
}
#place_datatable th {
    padding: 5px 10px 10px;
    border-bottom: 1px solid #ccc;
}
#place_datatable td {
    padding: 5px 10px;
    vertical-alig: middle;
    border-bottom: 1px solid #ccc;
}