<div id="datatable_anchor" />
<div ng-show="$root.table" ng-controller="tableController">
    <div layout="row" layout-align="end center">
        <md-button class="md-primary md-raised" ng-click="showPrerenderedDialog($event)">
            Настройка колонок
        </md-button>
    </div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>{{table}}</span>
            </h3>
        </div>
    </md-toolbar>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialogColums">
            <md-dialog layout-padding="20">
                <div ng-repeat="(key, item) in items">
                    <md-checkbox ng-checked="checkVisible(key)" ng-click="toggle(key)">
                        {{ item }}
                    </md-checkbox>
                </div>
            </md-dialog>
        </div>
    </div>
    <div id="place_datatable">
        <dtable options="options" rows="table_data" class="material dt" autoscroll="place_datatable">
            <column name="Место" flex>{{$row.place}}</column>
            <column name="Остаток на начало" flex>{{$row.balance_at_start}}</column>
            <column name="Остаток на начало ОХ" flex>{{$row.balance_at_start_OX}}</column>
            <column name="Остаток на начало в работу" flex>{{$row.balance_at_start_work}}</column>
            <column name="Единицы измерения" flex>{{$row.ei}}</column>
        </dtable>
    </div>
</div>